In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from PIL import Image
import glob
import os

# Preprocessing text of test dataset for Classifier
<b> Note: this dataset DO NOT contain the interest_level column (target variable) </b>

# Load Dataset

In [2]:
testDataDir = "dataset/two-sigma-connect-rental-listing-inquiries/testCleanedOutlier.json.zip"

testData = pd.read_json(testDataDir, convert_dates=['created'])
testData = testData.reset_index(drop=True)
testData.head(5)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,1.0,2,c7e53d732e648fa7f6690bf7bbed44a2,2016-06-24 06:36:34,Prime Soho - between Bleecker and Houston - Ne...,thompson street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7210040,-74.0,d0b5648017832b2427eeb9956d966a14,[https://photos.renthop.com/2/7210040_d824cc71...,2850,176 thompson street
1,1.0,1,c7e53d732e648fa7f6690bf7bbed44a2,2016-06-27 01:14:08,one bedroom in Greenwich Village. the unit has...,thompson street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7219733,-74.0,03fea70f5551838fed4d6fe32859efab,[https://photos.renthop.com/2/7219733_1cb1f502...,2750,176 thompson street
2,1.0,2,c7e53d732e648fa7f6690bf7bbed44a2,2016-06-02 01:22:52,BEST Share in SOHO for the price! Wont last !T...,thompson street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7094796,-74.0,95dde20058eaecb4e53e93f08d9894f8,[https://photos.renthop.com/2/7094796_ea570a16...,2850,176 thompson street
3,1.0,2,c7e53d732e648fa7f6690bf7bbed44a2,2016-06-02 01:37:08,Inexpensive two bedroom available!Renovated tw...,thompson street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7095203,-74.0,0626abea05161a6ceab79199e3e0ba86,[https://photos.renthop.com/2/7095203_be6d22a2...,2850,176 thompson street
4,1.0,1,c7e53d732e648fa7f6690bf7bbed44a2,2016-06-22 01:12:03,This beautifully spacious 1 BR is in the heart...,thompson street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7196398,-74.0,be8b38e3002bc1f262025751cd4b081b,[https://photos.renthop.com/2/7196398_43b7f399...,2750,176 thompson street

In [12]:
# also include number of photos
testData["num_photos"] = testData["photos"].apply(lambda x: 0 if not x else len(x))

2

# Text Data

### Feature Extraction

In [ ]:
testData['desc_word_count'] = testData['description'].apply(lambda x: len(str(x).split(" ")))
testData['desc_char_count'] = testData['description'].str.len()

testData[['desc_word_count', 'desc_char_count']]

In [ ]:
def avg_word(sentence):
    words = sentence.split()
    if (len(words) == 0):
        return 0
    
    return (sum(len(word) for word in words)/len(words))

testData['desc_avg_word_length'] = testData['description'].apply(lambda x: avg_word(x))
testData[['desc_avg_word_length']]

In [ ]:
def count_non_alpha_num(str):
    return sum(1 - (s.isalpha() or s == " ") for s in str)

testData['desc_special_char_count'] = testData['description'].apply(lambda x: count_non_alpha_num(x))
testData[['description', 'desc_special_char_count']]

In [ ]:
testData['desc_num_count'] = testData['description'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
testData['desc_upper_count'] = testData['description'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
testData[['description', 'desc_num_count', 'desc_upper_count']]

### Data Preprocessing

#### Convert to lower case and remove punctuation

In [ ]:
testData['description'] = testData['description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
testData['description'] = testData['description'].str.replace('[^\w\s]','')

testData[['description']]

#### Remove common and rare words

In [ ]:
word_counts = pd.Series(' '.join(testData['description']).split()).value_counts()

freq = word_counts[:10]
rare = word_counts[-10:]
freq_list = list(freq.index)
rare_list = list(rare.index)

testData['description'] = testData['description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq_list and x not in rare_list))

print(freq_list)
print(rare_list)
testData[['description']]

#### Remove stop words

In [ ]:
# import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
#display(stopwords.words('english'))

In [ ]:
stop_list = stopwords.words('english')
testData['description'] = testData['description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_list))

testData[['description']]

In [ ]:
testData.head(5)

#### Count number of features for each listing

In [ ]:
testData['num_features'] = testData['features'].apply(lambda x: len(x))

#### Extract year, month, date to their individual columns

In [ ]:
testData['year'] = testData['created'].dt.year
testData['month'] = testData['created'].dt.month
testData['day'] = testData['created'].dt.day

In [ ]:
testData

In [ ]:
testDataTextExtract = "dataset/two-sigma-connect-rental-listing-inquiries/testTextExtract.json.zip"
testData.to_json(testDataTextExtract)