In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [14]:
trainDataDir = "dataset/two-sigma-connect-rental-listing-inquiries/trainNaN.json.zip"

In [109]:
trainData = pd.read_json(trainDataDir, convert_dates=['created'])
trainData = trainData.reset_index(drop=True)

# Find missing building id

In [118]:
#https://stackoverflow.com/questions/27159189/find-empty-or-nan-entry-in-pandas-dataframe
buildingNAN = trainData.loc[trainData['building_id'].isnull()]
buildingNAN.head(4)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
19,1.0,1,None,2016-06-25 01:35:36,"DISCLAIMER: Photos are of similar unit. Great,...",Main Street,[Doorman],40.7621,7213185,-73.9486,e6ecf676c4359ad2903283834f1fd301,[https://photos.renthop.com/2/7213185_9102c3f2...,2495,576 Main Street,low
26,1.0,2,None,2016-06-05 11:31:08,Find your place in this thoughtfully designed ...,Cliff Street,"[Common Outdoor Space, Laundry In Unit, Doorma...",40.7084,7114220,-74.0048,26d69329a0f3b9abecbddd6abcb5b622,[https://photos.renthop.com/2/7114220_1246ad3d...,5425,Cliff Street,low
38,2.0,3,None,2016-06-24 07:55:11,Welcome to your new home! This extravagantly o...,President St.,"[Dining Room, Laundry in Building, High Speed ...",40.6678,7211226,-73.9398,929baf387cf71d98482a9743ab8a0890,[https://photos.renthop.com/2/7211226_7c7b8bc2...,3050,1475 President St.,low
43,1.0,1,None,2016-06-17 01:22:28,"This newly renovated, queen sized 1 Bed / 1 Ba...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7174518,-73.9810,befc71000fbd97ffe17b1ef8566b0590,[https://photos.renthop.com/2/7174518_ac2cde58...,2850,504 East 12th Street,low

In [123]:
trainDataNonNAN = trainData.dropna(subset=['building_id'])
trainDataNonNAN['building_id'].isnull().any()

False

In [129]:
buildingID = trainDataNonNAN[['building_id','latitude','longitude']].dropna()
buildingID.groupby(['latitude','longitude']).count()['building_id'].unique()

array([  1,   3,   2,  17,   6,   4,   9,   5,  11,  10,   7,  13,   8,
        21,  14,  12,  16,  35,  25,  28,  40,  58,  54,  26,  29,  70,
       101,  65, 129,  27,  60,  77,  31,  22,  34,  43, 110, 193,  18,
       121,  84, 197, 137,  20,  15,  32,  55,  41,  66, 103,  51,  61,
        24,  19,  42,  33,  48,  46,  23,  74,  39,  37,  72,  44,  30,
       100,  69, 116,  50, 156,  38,  64,  63,  79,  82,  45,  49,  47,
        36,  97, 111,  57,  59,  89, 113,  75, 269,  73, 104,  62,  91,
        53,  99, 133,  52,  90,  56])

In [130]:
a = buildingNAN.merge(buildingID, how='inner', on=['latitude','longitude'])
a.head()

,bathrooms,bedrooms,building_id_x,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,building_id_y
0,2.0,3,None,2016-06-24 07:55:11,Welcome to your new home! This extravagantly o...,President St.,"[Dining Room, Laundry in Building, High Speed ...",40.6678,7211226,-73.9398,929baf387cf71d98482a9743ab8a0890,[https://photos.renthop.com/2/7211226_7c7b8bc2...,3050,1475 President St.,low,b66d3340ba269e6f184bfad550a6f05f
1,2.0,3,None,2016-04-29 03:29:11,"<![CDATA[3 bedrooms, 3100, Bedford Stuyvesant/...",President Street,None,40.6678,6941286,-73.9398,a12c733c6cba53a6d2fe8a1fdfd5a674,[https://photos.renthop.com/2/6941286_252212fd...,3100,1475 President Street,low,b66d3340ba269e6f184bfad550a6f05f
2,1.0,1,None,2016-06-17 01:22:28,"This newly renovated, queen sized 1 Bed / 1 Ba...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7174518,-73.9810,befc71000fbd97ffe17b1ef8566b0590,[https://photos.renthop.com/2/7174518_ac2cde58...,2850,504 East 12th Street,low,7e9fd0dea8ad2c8ac0a1022a1f0d997b
3,1.0,1,None,2016-06-17 01:22:28,"This newly renovated, queen sized 1 Bed / 1 Ba...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7174518,-73.9810,befc71000fbd97ffe17b1ef8566b0590,[https://photos.renthop.com/2/7174518_ac2cde58...,2850,504 East 12th Street,low,7e9fd0dea8ad2c8ac0a1022a1f0d997b
4,1.0,1,None,2016-06-17 01:22:28,"This newly renovated, queen sized 1 Bed / 1 Ba...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7174518,-73.9810,befc71000fbd97ffe17b1ef8566b0590,[https://photos.renthop.com/2/7174518_ac2cde58...,2850,504 East 12th Street,low,7e9fd0dea8ad2c8ac0a1022a1f0d997b

In [122]:
a = a.drop_duplicates(subset=['listing_id']).drop('building_id_x',axis=1).rename(columns ={'building_id_y':'building_id'})
a

,bathrooms,bedrooms,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level,building_id
0,2.0,3,2016-06-24 07:55:11,Welcome to your new home! This extravagantly o...,President St.,"[Dining Room, Laundry in Building, High Speed ...",40.6678,7211226,-73.9398,929baf387cf71d98482a9743ab8a0890,[https://photos.renthop.com/2/7211226_7c7b8bc2...,3050,1475 President St.,low,b66d3340ba269e6f184bfad550a6f05f
1,2.0,3,2016-04-29 03:29:11,"<![CDATA[3 bedrooms, 3100, Bedford Stuyvesant/...",President Street,None,40.6678,6941286,-73.9398,a12c733c6cba53a6d2fe8a1fdfd5a674,[https://photos.renthop.com/2/6941286_252212fd...,3100,1475 President Street,low,b66d3340ba269e6f184bfad550a6f05f
2,1.0,1,2016-06-17 01:22:28,"This newly renovated, queen sized 1 Bed / 1 Ba...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7174518,-73.9810,befc71000fbd97ffe17b1ef8566b0590,[https://photos.renthop.com/2/7174518_ac2cde58...,2850,504 East 12th Street,low,7e9fd0dea8ad2c8ac0a1022a1f0d997b
18,1.0,3,2016-06-08 01:12:34,"Prime East Village 3 bedroom, 1 bath apartment...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7122279,-73.9810,e7f859b81a2a75ac93042a721d70a0aa,[https://photos.renthop.com/2/7122279_fea77391...,4200,504 East 12th Street,low,7e9fd0dea8ad2c8ac0a1022a1f0d997b
34,1.0,1,2016-06-11 01:27:45,Welcome to your next new home.This 1BR/1BA uni...,East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7287,7138528,-73.9810,89179891e92a87e72ac3132fc5a977e8,[https://photos.renthop.com/2/7138528_940f2e70...,2850,504 East 12th Street,low,7e9fd0dea8ad2c8ac0a1022a1f0d997b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124337,1.0,2,2016-04-13 05:11:26,Luxury New 1/1 w/balcony,Stockholm Street,"[Cats Allowed, Dogs Allowed, Exclusive]",40.6980,6866700,-73.9243,62826f3ae01f2ddc93b9cd28c659ab2b,None,3100,113 Stockholm Street,low,15d8135ac5030fb076812afce8d75998
124340,1.0,1,2016-04-22 01:25:17,This lovely renovated one bedroom has a large ...,East 81st Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7744,6909433,-73.9531,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6909433_53b0228d...,2595,313 East 81st Street,low,bc44310f4b6528e1b36066359d8941f7
124344,1.0,1,2016-04-06 01:29:35,This is a Inwood great one bedroom apartment t...,Sherman Avenue,[Pre-War],40.8645,6828115,-73.9246,9153d5678d7731f9ae283aba33932c1e,[https://photos.renthop.com/2/6828115_7b50f982...,1325,124 Sherman Avenue,low,394d115a27afc416df7af4d93dbc0d23
124346,1.0,1,2016-04-09 03:12:32,"Roof top Pool this Summer? You Got It! Luxury,...",East 84th Street,"[Swimming Pool, Doorman, Elevator, Terrace, La...",40.7758,6847952,-73.9506,7977d30107b81a8888b95ae909448bbe,[https://photos.renthop.com/2/6847952_abe45fa3...,3650,351 East 84th Street,low,5bb6a1450ca05310606a43154cef1aba
124358,1.0,1,2016-04-06 01:24:18,1 bedroom available for rent. 1 bedroom availa...,East 117th Street,[Pre-War],40.7970,6827913,-73.9362,90ea87af5bf769fe535672fea1693c9a,None,1500,326 East 117th Street,low,95d288ceb9603c691ea001910dba892a

In [106]:
trainData = a.append(trainData,ignore_index = True)
trainData

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,2.0,3,b66d3340ba269e6f184bfad550a6f05f,2016-06-24 07:55:11,Welcome to your new home! This extravagantly o...,President St.,"[Dining Room, Laundry in Building, High Speed ...",low,40.6678,7211226,-73.9398,929baf387cf71d98482a9743ab8a0890,[https://photos.renthop.com/2/7211226_7c7b8bc2...,3050,1475 President St.
1,2.0,3,b66d3340ba269e6f184bfad550a6f05f,2016-04-29 03:29:11,"<![CDATA[3 bedrooms, 3100, Bedford Stuyvesant/...",President Street,None,low,40.6678,6941286,-73.9398,a12c733c6cba53a6d2fe8a1fdfd5a674,[https://photos.renthop.com/2/6941286_252212fd...,3100,1475 President Street
2,1.0,1,7e9fd0dea8ad2c8ac0a1022a1f0d997b,2016-06-17 01:22:28,"This newly renovated, queen sized 1 Bed / 1 Ba...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",low,40.7287,7174518,-73.9810,befc71000fbd97ffe17b1ef8566b0590,[https://photos.renthop.com/2/7174518_ac2cde58...,2850,504 East 12th Street
3,1.0,3,7e9fd0dea8ad2c8ac0a1022a1f0d997b,2016-06-08 01:12:34,"Prime East Village 3 bedroom, 1 bath apartment...",East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",low,40.7287,7122279,-73.9810,e7f859b81a2a75ac93042a721d70a0aa,[https://photos.renthop.com/2/7122279_fea77391...,4200,504 East 12th Street
4,1.0,1,7e9fd0dea8ad2c8ac0a1022a1f0d997b,2016-06-11 01:27:45,Welcome to your next new home.This 1BR/1BA uni...,East 12th Street,"[Pre-War, Dogs Allowed, Cats Allowed]",low,40.7287,7138528,-73.9810,89179891e92a87e72ac3132fc5a977e8,[https://photos.renthop.com/2/7138528_940f2e70...,2850,504 East 12th Street
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55368,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"[Elevator, Dishwasher, Hardwood Floors]",low,40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,[https://photos.renthop.com/2/6824800_0682be16...,2800,620 W 171 Street
55369,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",medium,40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,[https://photos.renthop.com/2/6813268_1e6fcc32...,2395,3333 Broadway
55370,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"[Dining Room, Elevator, Pre-War, Laundry in Bu...",medium,40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/6927093_93a52104...,1850,210 Brighton 15th St
55371,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"[Pre-War, Laundry in Unit, Dishwasher, No Fee,...",medium,40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,[https://photos.renthop.com/2/6892816_1a8d087a...,4195,350 West 21st Street
55372,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"[Dining Room, Elevator, Laundry in Building, D...",high,40.7594,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,[https://photos.renthop.com/2/6901023_02052d90...,4280,123 E 54th St

In [107]:
trainData['listing_id'].value_counts()

6891467    2
6930752    2
7122387    2
7011945    2
7009752    2
          ..
7226524    1
7103640    1
7150743    1
6821014    1
7143424    1
Name: listing_id, Length: 49352, dtype: int64

## Extract address

In [157]:
address = trainData[['building_id','latitude','longitude','street_address']].dropna()
address

,building_id,latitude,longitude,street_address
0,8579a0b0d54db803821a35a4a615e97a,40.7108,-73.9539,145 Borinquen Place
1,b8e75fc949a6cd8225b455648a951712,40.7513,-73.9722,230 East 44th
2,cd759a988b8f23924b5a2058d5ab2b49,40.7575,-73.9625,405 East 56th Street
3,53a5b119ba8f7b61d4e010512e0dfc85,40.7145,-73.9425,792 Metropolitan Avenue
4,bfb9405149bfff42a92980b594c28234,40.7439,-73.9743,340 East 34th Street
...,...,...,...,...
49347,92bbbf38baadfde0576fc496bd41749c,40.8433,-73.9396,620 W 171 Street
49348,5565db9b7cba3603834c4aa6f2950960,40.8198,-73.9578,3333 Broadway
49349,67997a128056ee1ed7d046bbb856e3c7,40.5765,-73.9554,210 Brighton 15th St
49350,3c0574a740154806c18bdf1fddd3d966,40.7448,-74.0017,350 West 21st Street
49351,d89f514c3ed0abaae52cba7017ac0701,40.7594,-73.9712,123 E 54th St

In [158]:
#https://stackoverflow.com/questions/57503786/python-replace-abbreviation-in-text
replacers = {
    'st': 'street',
    'e': 'east',
    'w': 'west',
    's': 'south',
    'n': 'North',
}
address['street_address'] = (
    address['street_address']
    .str.lower()
    .str.replace('[.,]','')
    .str.split()
    .apply(lambda x: ' '.join([replacers.get(e, e) for e in x]))
)
address

,building_id,latitude,longitude,street_address
0,8579a0b0d54db803821a35a4a615e97a,40.7108,-73.9539,145 borinquen place
1,b8e75fc949a6cd8225b455648a951712,40.7513,-73.9722,230 east 44th
2,cd759a988b8f23924b5a2058d5ab2b49,40.7575,-73.9625,405 east 56th street
3,53a5b119ba8f7b61d4e010512e0dfc85,40.7145,-73.9425,792 metropolitan avenue
4,bfb9405149bfff42a92980b594c28234,40.7439,-73.9743,340 east 34th street
...,...,...,...,...
49347,92bbbf38baadfde0576fc496bd41749c,40.8433,-73.9396,620 west 171 street
49348,5565db9b7cba3603834c4aa6f2950960,40.8198,-73.9578,3333 broadway
49349,67997a128056ee1ed7d046bbb856e3c7,40.5765,-73.9554,210 brighton 15th street
49350,3c0574a740154806c18bdf1fddd3d966,40.7448,-74.0017,350 west 21st street
49351,d89f514c3ed0abaae52cba7017ac0701,40.7594,-73.9712,123 east 54th street

In [149]:
address.groupby(['latitude','longitude','street_address']).count()

                                             building_id
latitude longitude street_address
34.0126  -118.2710 234 East 38th                       1
39.7996  -74.6248  505 Saint Marks Ave                 1
39.8395  -86.1527  235 East 46th                       1
40.0450  -75.5214  271 West 47TH                       1
40.5065  -74.4708  575 Easton Avenue                   1
...                                                  ...
42.3459  -71.0794  56 Botolph                          1
42.8724  -73.4662  1844 84                             1
42.8725  -73.4665  7916 19 Road                        1
44.6038  -75.1773  Riverside Dr/ 90                    1
44.8835  -93.2705  400 East 66th StNew York            1

[11579 rows x 1 columns]